<br>
<div class="d-flex align-items-center justify-content-center">
    <table class="align-items-center justify-content-center" style="">
        <tbody>
            <tr>
                <td><center><h1>Contact Site</h1></center>
            </tr>
            <tr>
                <td><%= image_tag("/Contacts_icon.svg.png", :size => "350x350") %></td>  
            </tr>
        </tbody>
    </table>

</div>
<br>
