<br>

    <h1>About Contact Site</h1>
    <br>
    This project uses Ruby on Rails with Bootstrap.  
    <br><br>
    <h3>List of Features</h3>
    <ul>
        <li>Create User Account</li>
        <li>Sign In/Out</li>
        <li>Change Password</li>
        <li>Create Contact</li>
        <li>Edit Contact</li>
        <li>Delete Contact</li>
        <li>View Contacts</li>
        <li>Sort Contacts</li>
        <li>Export Contacts</li>
    </ul>
<br>